*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

main, form {
    width: 40vw;
    max-width: 400px;
    min-width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #a1b3c2;
    border-radius: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

label div {
    font-size: 12px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100px;
    max-width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    main, form {
        width: 90vw;
        max-width: 350px;
    }

    .input-fields {
        gap: 15px;
    }

    button {
        height: 35px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    main, form {
        width: 95vw;
        max-width: 300px;
    }

    label {
        font-size: 12px;
    }

    input {
        font-size: 13px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        height: 35px;
    }
}

#message {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.rejected{
    color: red;
}
.accepted{
    color: green;
}
